*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: blue;
    position: relative;
    width: 500px;
    height: 300px;
}
.click{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border: 0;
    cursor: pointer;

}